<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Inventory</title>
</head>
<body style="background-color:rgb(127, 127, 127);">
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header" th:if="${mode=='new'}">Add type</div>
				<div class="card-header" th:if="${mode=='edit'}">Update type</div>
				<div class="card-body">
					<form th:action="@{saveType}" method="post">
						<div class="form-group">
							<label class="control-label" hidden>ID Type :</label> <input
								type="hidden" name="idType" class="form-control"
								th:value="${type.idType}" />
						</div>
						<div class="form-group">
							<label class="control-label">Nmae :</label> <input
								type="text" name="nameType" class="form-control"
								th:value="${type.nameType}" /> <span
								th:errors=${type.nameType} class="text-danger">
							</span>
						</div>
						<div class="form-group">
							<label class="control-label">decription :</label> <input
								type="text" name="descriptionType" class="form-control"
								th:value="${type.descriptionType}" /> <span
								th:errors=${type.descriptionType} class="text-danger">
							</span>

						</div>
						
            
						<div>
							<button type="submit" class="btn btn-primary">submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>